.about-us-container-title::before {
  content: "01";
  z-index: -30;
}

.about-us-text-logo-container {
  display: flex;
  align-items: center;
}

.about-us-text-content {
  width: 35%;
  margin-right: 5%;
}

.about-us-text-content p {
  margin-top: 10px;
}

.about-us-text-content span {
  color: var(--primaryColor);
  font-weight: bold;
}

.about-us-logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5%;
  grid-row-gap: 20px;
  width: 60%;
}

.about-us-logos img {
  width: 100%;
  border-radius: 50%;
  pointer-events: none;
}

/* meet the team */

.meet-the-team {
  text-align: center;
  margin-top: 90px;
}

.meet-the-team-description {
  text-align: center;
  margin: 10px auto;
  width: 35%;
  min-width: 300px;
}

.meet-the-team-members {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 400px;
  grid-column-gap: 10vw;
  margin-top: 40px;
}

.meet-the-team-members img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
  pointer-events: none;
}

.meet-the-team-members .join-our-team {
  background: var(--primaryColor);
  border-radius: 7px;
  padding: 50px 30px;
}

.meet-the-team-members .join-our-team * {
  color: var(--colorLight);
}

.meet-the-team-members .join-our-team h1 {
  font-size: calc(2em + 2vw);
  word-wrap: break-word;
  line-height: 1em;
  font-family: var(--telegrafFont);
}

.meet-the-team-members .join-our-team p {
  margin-top: 5px;
}

.meet-the-team-members .member {
  position: relative;
  height: 100%;
}

.overlay {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 20px 30px;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.7) 40%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 7px;
  height: 25%;
  transition: all 0.3s;
}

.member:hover .overlay {
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.7) 85%,
    rgba(255, 255, 255, 0) 100%
  );
  cursor: pointer;
}

.name {
  color: #fff;
  font-size: 30px;
}

.title {
  color: var(--primaryColor);
  font-family: var(--ttFirstNeueFont);
  font-weight: 900;
  font-size: 15px;
}

.bio {
  height: 0;
  pointer-events: none;
  color: white;
  opacity: 0;
  transition: all 0.4s;
}

.member:hover .bio {
  opacity: 1;
  height: auto;
}

@media screen and (max-width: 700px) {
  .about-us-text-logo-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }

  .about-us-text-content {
    width: 100%;
  }

  .meet-the-team-members {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
    grid-auto-rows: 500px;
  }

  .about-us-logos {
    width: 100%;
    grid-column-gap: 4%;
  }
}
