.about-us-container-title::before {
  content: "01";
}

.about-us-text-logo-container {
  display: flex;
  align-items: center;
}

.about-us-text-content {
  width: 35%;
  margin-right: 5%;
}

.about-us-text-content p {
  line-height: 1.8em;
  font-weight: 300;
  margin-top: 10px;
}

.about-us-text-content span {
  color: var(--primaryColor);
  font-weight: bold;
}

.about-us-logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 3%;
  grid-row-gap: 30px;
  width: 60%;
}

.about-us-logos img {
  width: 100%;
  border-radius: 50%;
  border: 5px solid var(--grayColor);
}
