footer {
  width: 100%;
  background: var(--bgDark);
  height: 126px;
  padding: 0 35px;
  display: flex;
  align-items: center;
  position: relative;
}

.footer-links ul {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-links ul li {
  display: flex;
  list-style: none;
  margin: 0 calc(1em + 1vw);
}

.footer-links ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 800;
  font-size: calc(0.4em + 0.8vw);
  transition: all 0.2s;
}

.footer-links ul li a:hover {
  color: var(--primaryColor);
}

footer .arrow {
  position: absolute;
  height: 63px;
  width: 63px;
  background: var(--primaryColor);
  bottom: 0;
  right: 0;
  display: grid;
  place-content: center;
  transition: all 0.2s;
}

.arrow-image {
  color: var(--bgDark);
}

footer .arrow:hover {
  background: var(--secondaryColor);
}
