.hero {
  height: 100vh;
  position: relative;
  padding: 30px;
  display: flex;
}

.hero h1 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(35px, -50%);
  font-size: calc(3em + 1vw);
  z-index: 20;
  padding-right: 30px;
  font-family: var(--telegrafFont);
}

.hero h1 span {
  color: var(--primaryColor);
  font-family: var(--telegrafFont);
}

.waves {
  position: absolute;
  min-height: 450px;
  overflow: hidden;
  left: 0;
  width: 100%;
  bottom: 0;
  height: 30%;
  z-index: 1;
}

.wave {
  position: absolute;
  width: 6400px;
  height: 230px;
  transform: translate3d(0, 0, 0);
}

.wave:nth-child(1) {
  background: url("../public/waves/red.svg") repeat-x;
  animation: wave 3s linear infinite, swell 7s ease -1.25s infinite;
  bottom: 20px;
}

.wave:nth-child(2) {
  background: url("../public/waves/orange.svg") repeat-x;
  animation: wave 3s linear infinite, swell 7s ease -1.25s infinite;
  bottom: -70px;
}

.wave:nth-child(3) {
  background: url("../public/waves/white.svg") repeat-x;
  animation: wave 3s linear infinite, swell 7s ease -1.25s infinite;
  z-index: 20;
  bottom: -160px;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -30px, 0);
  }
  50% {
    transform: translate3d(0, 0px, 0);
  }
}
