.hero {
  height: 100vh;
  background: var(--bgDark);
  position: relative;
}

.hero h1 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(35px, -50%);
  color: var(--colorLight);
  font-size: calc(2em + 1.6vw);
}

.hero h1 span {
  color: var(--primaryColor);
}

.waves {
  position: absolute;
  min-height: 450px;
  overflow: hidden;
  left: 0;
  width: 100%;
  bottom: 0;
  height: 30%;
  z-index: 0;
}

.wave {
  background: url("../public/waves/orange.svg") repeat-x;
  position: absolute;
  bottom: -30px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-child(2) {
  background: url("../public/waves/red.svg") repeat-x;
  height: 230px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
