.hero {
  height: 100vh;
  background: var(--bgDark);
  position: relative;
}

.hero h1 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(35px, -50%);
  color: var(--colorLight);
  font-size: calc(2em + 1.6vw);
}

.hero h1 span {
  color: var(--primaryColor);
}
