#mobile-nav {
  transition: 0.3s all ease-in-out;
  transform: translateX(-100%);
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  align-items: flex-start;
  padding: 10vw 10vw var(--navbarHeight);
  top: var(--navbarHeight);
  width: 100vw;
  height: calc(100vh - var(--navbarHeight));
  z-index: 10000;
  background: black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--navbarHeight);
  padding: 0 35px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.logo {
  text-decoration: none;
}

.logo h1 {
  font-size: 1.6rem;
  color: var(--primaryColor);
  font-family: var(--ttFirstNeueFont);
}

.logo p {
  font-size: 0.6rem;
  color: var(--bgLight);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: -5px;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin: 0 calc(1em + 1vw);
}

nav ul li a {
  font-weight: 800;
  text-decoration: none;
  font-size: calc(1em + 0.1vw);
  transition: all 0.2s;
  position: relative;
}

nav ul li a:hover {
  color: var(--primaryColor);
}

nav ul li a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 20%;
  background: var(--primaryColor);
  left: 0;
  top: 110%;
  transition: all 0.2s;
}

nav ul li a:hover:after {
  width: 100%;
}

.nav-wrapper {
  display: flex;
  align-items: center;
}

/*hamburger*/
.hamburger {
  width: 60px;
  height: 45px;
  position: absolute;
  right: 0;
  margin-right: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg) scale(0.6);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease;
  cursor: pointer;
  display: none;
}

.hamburger span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: var(--primaryColor);
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease;
}

.hamburger span:nth-child(1) {
  top: 0;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hamburger span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hamburger span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hamburger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

.hamburger.open span:nth-child(2) {
  width: 0;
}

.hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}

@media screen and (max-width: 620px) {
  .hamburger {
    display: block;
  }

  nav ul {
    display: none;
  }

  #mobile-nav.enabled {
    transform: translateX(0);
  }

  body.noscroll {
    overflow: hidden;
  }

  #mobile-nav li {
    list-style: none;
  }

  #mobile-nav li a {
    text-decoration: none;
    color: #3e3e3e;
    font-size: 35px;
    font-weight: 700;
    transition: all 0.2s;
  }

  #mobile-nav li a:hover {
    color: #fff;
  }

  #mobile-nav li a:hover span {
    color: var(--primaryColor);
  }

  #mobile-nav li span {
    color: #3e3e3e;
    font-size: 60px;
    font-family: var(--telegrafFont);
    transition: all 0.2s;
  }
}
