@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bgLight: #fff;
  --bgDark: #000;
  --colorLight: #fff;
  --colorDark: #000;
  --grayColor: #efefef;
  --navbarHeight: 80px;
  --primaryColor: #e2403d;
  --secondFont: "Telegraf", serif;
  --thirdFont: "TTFirsNeue", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}

body {
  overflow-x: hidden;
}

.container {
  padding: 290px 6vw 150px 6vw;
  position: relative;
}

.initial-container {
  padding: 150px 6vw;
}

.white-container {
  background: var(--bgLight);
}

.white-container * {
  color: var(--colorDark);
}

.black-container {
  background: var(--bgDark);
}

.black-container * {
  color: var(--colorLight);
}

.container:not(.last-container)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 136px;
  transform: translateY(130px);
  z-index: 5;
}

.white-container:not(.not-section)::after {
  background: url("../public/waves/down_white.svg");
}

.black-container:not(.not-section)::after {
  background: url("../public/waves/down_black.svg");
}

.container-title {
  font-size: calc(1.8em + 2vw);
  position: relative;
  font-family: var(--secondFont);
  z-index: 1;
}

.container-title::before {
  display: inline;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 14rem;
  max-height: 9rem;
  line-height: 9rem;
  z-index: -1;
  font-family: var(--secondFont);
  transform: translateX(calc(-7vw - 60px));
}

.white-container .container-title::before {
  color: #efefef !important;
}

.black-container .container-title::before {
  color: #252525 !important;
}

.text-content {
  font-size: calc(0.6em + 0.6vw);
  line-height: 1.8em;
  font-weight: 300;
}
